@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    height: 100vh;
    display: flex;
    gap: 0.8em;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    background-color: orange;
    
}
.container {
    display: flex;
    align-items: center;
    background-color: aqua;
    border-radius: 0.5em;
    padding: 2.1em;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
form > div {
    display: flex;
    gap: 0.8em;
}
label {
    font-size: 1.5em;
}
input {
    border-radius: 0.5rem;
    padding: 0.8em;
    border: none;
}
.buttons {
    font-size: large;
    padding: 1.3em 2.1em;
    border-radius: 0.5em;
    border: none;
    background-color: blue;
}
.buttons:hover {
    point
}
tr > * {
    padding: 0 1.5em;
}